@model List<Product>


<section class="panel">
    <header class="panel-heading">
        Yeni ürün eklemek icin <a asp-action="Create" asp-controller="Product">tıklayınız</a>
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                    <tr>
                        <th>Ürün Id</th>
                        <th>Ürün ismi</th>
                        <th class="hidden-phone">Ürünün Kategorisi</th>
                        <th>Ürünün Resmi</th>
                        <th class="hidden-phone">Ürün Durumu</th>
                        <th class="hidden-phone">Güncelle</th>
                        <th class="hidden-phone">Sil</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (Product item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.Id</td>
                            <td>
                                @item.ProductName
                            </td>
                            @if(item.Category == null)
                            {
                                <td>Kategorisi yok</td>
                            }
                            else
                            {
                                <td class="hidden-phone">@item.Category.CategoryName</td>
                            }
                            <td><img src="@item.ImagePath" width="50" height="50" /></td>
                           
                            <td class="hidden-phone">@item.Status</td>
                            <td class="center hidden-phone"> <a asp-action="Update" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-warning">Güncelle</a> </td>
                            <td class="center hidden-phone"><a asp-action="Pacify" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-danger">Sil</a></td>
                        </tr>
                    }



                </tbody>
            </table>

        </div>
    </div>
</section>
